{{- if .Values.metrics.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "meshlogic-agent.fullname" . }}-metrics
  labels:
    {{- include "meshlogic-agent.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  clusterIP: None
  ports:
    - port: {{ .Values.metrics.port }}
      targetPort: metrics
      protocol: TCP
      name: metrics
  selector:
    {{- include "meshlogic-agent.selectorLabels" . | nindent 4 }}
{{- end }}
